{% extends 'base.html.twig' %}

{% block title %} Menu {% endblock %}

{% block body %}
    <div>
        <a href="{{ path('create') }}">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i> Création d'un client
            </button>   
        </a>
    </div>

    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nom</th>
                <th scope="col">Mail</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            {# Boucle liste des clients #}
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.mail }}</td>
                <td>{{ client.createdAt | date('d/m/Y')}}</td>
                <td>    
                    <a href="{{ path('edit',{'clientId': client.id}) }}">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>   
                    </a>
                    &nbsp;
                    <a href="{{ path('delete', {'clientId' : client.id}) }}">
                        <button type="button" class="btn btn-outline-danger">
                            <i class="fa fa-minus"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
