{% extends 'base.html.twig' %}

{% block title %} Interface {% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <h2> Liste des clients</h2>
    </div>

    <div class="mt-3">
        {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <i class= "fa fa-check"></i><span class= "ml-3">{{message}}</span>
                </div>
                {% endfor %}
    </div>
    
    <div>
        <a href="{{ path('interface_create') }}">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i> Création d'un client
            </button>   
        </a>
    </div>

    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nom</th>
                <th scope="col">Mail</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            {# Boucle liste des clients #}
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.mail }}</td>
                <td>{{ client.createdAt | date('d/m/Y')}}</td>
                <td>    
                    <a href="{{ path('interface_edit',{'clientId': client.id}) }}">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>   
                    </a>
                    &nbsp;
                    <a href="{{ path('interface_delete', {'clientId' : client.id}) }}">
                        <button type="button" class="btn btn-outline-danger">
                            <i class="fa fa-minus"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
