{% extends 'base.html.twig' %}

{% block title %}{% trans %}Type{% endtrans %}{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <h2>{% trans %}Type List{% endtrans %}</h2>
    </div>
    
    {# Affichage bouton creation client#}
    <div> 
        <a href="{{path('type_create')}}">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i> {% trans %}Type Creation{% endtrans %}
            </button>   
        </a>
    </div>
 
    {# Tableau des clients #}
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">{% trans %}Ip Server{% endtrans %}</th>
                <th scope="col">{% trans %}Path{% endtrans %}</th>
                <th scope="col">{% trans %}Name{% endtrans %}</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            
            {% for type in types %}
                <tr>
                    <td>{{ type.IpServer }}</td> 
                    <td>{{ type.path }}</td>
                    <td>{{ type.name}}</td>
                    <td>  
                        {# Bouton update #}  
                        <a href="{{ path('type_update',{'typeId': type.id}) }}">
                            <button type="button" class="btn btn-outline-primary">
                                <i class="fa fa-edit"></i>
                            </button>   
                        </a>
                        &nbsp;

                        <a href="#delete{{type.id}}" role="button" data-toggle="modal">
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="delete{{type.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delete">{% trans %}Are you sure you want to delete the type{% endtrans %}
                                            {{ type.name }} ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <a href="{{ path('type_list') }}">
                                            <button type="button" class="btn btn-secondary">
                                                {% trans %}Close{% endtrans %}
                                            </button>
                                        </a>
                                        <a href="{{ path('type_delete',{'typeId' : type.id}) }}">
                                            <button type="button" class="btn btn-danger">
                                                {% trans %}Delete{% endtrans %}
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
