{% extends 'base.html.twig' %}

{% block title %}{% trans %}Type{% endtrans %}{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <h2>{% trans %}Type List{% endtrans %}</h2>
    </div>
    
    {# Affichage bouton creation client#}
    <div> 
        <a href="{{path('type_create')}}">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i> {% trans %}Type Creation{% endtrans %}
            </button>   
        </a>
    </div>
 
    {# Tableau des clients #}
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">{% trans %}Ip Server{% endtrans %}</th>
                <th scope="col">{% trans %}Path{% endtrans %}</th>
                <th scope="col">{% trans %}Name{% endtrans %}</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            
            {% for type in types %}
                <tr>
                    <td>{{ Type.IpServer }}</td> 
                    <td>{{ Type.path }}</td>
                    <td>{{ Type.name}}</td>
                    <td>  
                        {# Bouton update #}  
                        <a href="{{ path('type_update',{'typeId': type.id}) }}">
                            <button type="button" class="btn btn-outline-primary">
                                <i class="fa fa-edit"></i>
                            </button>   
                        </a>
                        &nbsp;

                        {# Bouton delete #}
                        <a href="{{ path('customer_delete',{'typeId' : type.id}) }}">
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
