{% extends 'base.html.twig' %}

{% block title %} Interface {% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <h2> Liste des customers</h2>
    </div>

    <div class="mt-3">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <i class= "fa fa-check"></i><span class= "ml-3">{{message}}</span>
            </div>
        {% endfor %}
        
        {% for message in app.flashes('warning') %}
        <div class="alert alert-danger">
            <i class= "far fa-edit"></i><span class= "ml-3">{{message}}</span>
        </div>
        {% endfor %}
    </div>
    
    <div> 
        <a href="{{path('customer_create',{'userId' : user.id})}}">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i> Création d'un customer
            </button>   
        </a>
    </div>
 
    
    <table class="table mt-2">
        <thead>
            <tr>    
                <th scope="col">Nom</th>
                <th scope="col">Mail</th>
                <th scope="col">Telephone</th>
                <th scope="col">UserCreation</th>
                <th scope="col">Date de création</th>
                <th scope="col">User Edit</th>
                <th scope="col">Date de Modification</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            
            {% for customer in customers %}
                <tr>
                    <td> <a href="{{path('website_list',{'userId' : user.id, 'customerId':customer.id})}}">{{ customer.name }}</a></td>
                    <td>{{ customer.mail }}</td>
                    <td>{{ customer.telephone }}</td>
                    <td>{{ customer.userCreation }}</td>
                    <td>{{ customer.createdAt | date('d/m/Y H:i', 'Europe/Paris')}}</td>
                    <td>{{ customer.userEdit }}</td>
                    <td>{{ customer.editAt | date('d/m/Y H:i','Europe/Paris')}}</td>
                    <td>    
                        <a href="{{ path('customer_edit',{'userId' : user.id, 'customerId': customer.id}) }}">
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>   
                        </a>
                        &nbsp;
                        <a href="{{ path('customer_delete',{'userId' : user.id, 'customerId' : customer.id}) }}">
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa fa-minus"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
