{% extends 'base.html.twig' %}

{% block title %}{% trans %}Website List{% endtrans %}{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <h2> {{ customer.name }} </h2>
    </div>

    <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('customer_update',{'customerId':customer.id})}}">{% trans %}Customer Info{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('website_list',{'customerId':customer.id})}}">Website</a>
        </li>
      </ul>


    <div class= "d-flex justify-content-between mt-5">
        <a href="{{path('website_create',{'customerId':customer.id})}}">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i> {% trans %}Website Creation{% endtrans %}
            </button>   
        </a>

        <a href=" {{path('customer_list')}}">
            <button type="button" class="btn btn-primary">{% trans %}Back to the clients list{% endtrans %}</button>
        </a>
    </div>

    <div class="mt-3">
        <table class="table mt-2">
            <thead>
                <tr>    
                    <th scope="col">{% trans %}Name{% endtrans %}</th>
                    <th scope="col">Url</th>
                    <th scope="col">{% trans %}IP Server{% endtrans %}</th>
                    <th scope="col">{% trans %}Folder Name{% endtrans %}</th>
                    <th scope="col">{% trans %}Folder Path{% endtrans %}</th>
                    <th scope="col">Actions</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for website in customer.websites %}

                    <tr>
                        <td>{{website.name}}</td>
                        <td>{{website.url}}</td>
                        <td>{{website.ipServeur}}</td>
                        <td>{{website.nameFolder}}</td>
                        <td>{{website.pathFolder}}</td>
                        <td>
                            <a href="{{ path('website_update',{'customerId': customer.id, 'websiteId':website.id}) }}">
                                <button type="button" class="btn btn-outline-primary">
                                    <i class="fa fa-edit"></i>
                                </button>   
                            </a>
                            &nbsp;
                            <a href="{{ path('website_delete',{'customerId' : customer.id, 'websiteId':website.id}) }}">
                                <button type="button" class="btn btn-outline-danger">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </a>
                            
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
